<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Página de Cadastro</title>
  <link href="https://fonts.googleapis.com/css2?family=Arvo&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="style.css">
</head>
<body class="form-page">
  <div class="container">
    <h2>Cadastre-se na Movin Sports</h2>
    <form>
      <label for="nome">Nome:</label>
      <input type="text" id="nome" name="nome" required>

      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required>

      <label for="senha">Senha:</label>
      <input type="password" id="senha" name="senha" required>

      <label for="confirmar-senha">Confirme a Senha:</label>
      <input type="password" id="confirmar-senha" name="confirmar-senha" required>

      <label>Gênero:</label>
      <div class="radio-group">
        <label><input type="radio" name="genero" value="masculino" required> Masculino</label>
        <label><input type="radio" name="genero" value="feminino"> Feminino</label>
        <label><input type="radio" name="genero" value="outro"> Outro</label>
      </div>

      <label for="cidade">Cidade:</label>
      <input type="text" id="cidade" name="cidade" required>

      <label for="estado">Estado:</label>
      <select id="estado" name="estado" required>
        <option value="">Selecione</option>
        <option value="SP">São Paulo</option>
        <option value="RJ">Rio de Janeiro</option>
        <option value="MG">Minas Gerais</option>
        <option value="BA">Bahia</option>
      </select>

      <button type="submit">Cadastrar</button>

      <div class="botao-login">
        <a href="login.html">Ir para login</a>
      </div>
    </form>
  </div>
</body>
</html>
